<template>
  <div id="app">
    <header>
      <div class="search">
        <input type="search" id="inputSearch" v-model="myResearch" placeholder="Entrer une ville">
        <button id="btnSearch" @click="research">Search</button>
      </div>
    </header>
    <main>
      <div v-if="city" class="container">
        <p>{{ convertionDate }}</p>
        <h1>{{ city }}, {{ country }}</h1>
        <div class="localisation">
          <p class="long">longitude :  {{ long }}</p>
          <p class="lat">latitude :  {{ lat }}</p>
        </div>
        <div class="meteo">
          <div class="tempReel">
            <img :src="icone" :title="weather"/>
            <h2 v-if="temperature.Reel" class="temperature">{{ convertionTemperatureReel }} °C</h2>
          </div>
          <div class="autresPrecisions">
            <p v-if="temperature.Ressentie">température ressentie : {{ convertionTemperatureRessentie }} °C</p>
            <p v-if="temperature.Min">température minimale : {{ convertionTemperatureMin }} °C</p>
            <p v-if="temperature.Max">température maximale : {{ convertionTemperatureMax }} °C</p>
          </div>
        </div>
      </div>
      <div v-else>
        <h1>Bonjour et bienvenue sur votre application Météo</h1>
        <p>Entrez une Ville</p>
      </div>
    </main>
  </div>
</template>

<script>
import axios from "axios";
import moment from 'moment';


export default {
  name: 'App',
  data(){
    return{
      date:'',
      city:'',
      country:'',
      long:'',
      lat:'',
      temperature: {
        Reel: '',
        Ressentie: '',
        Min: '',
        Max: '',
      },
      weather:'',
      icone:'',
      myResearch:'',
    }
  },
  computed:{
    convertionTemperatureReel(){
      let tempReel = this.temperature.Reel - 273.15
      return tempReel.toFixed(1)
    },
    convertionTemperatureRessentie(){
      let tempRess = this.temperature.Ressentie - 273.15
      return  tempRess.toFixed(1)
    },
    convertionTemperatureMin(){
      let tempMin = this.temperature.Min - 273.15
      return tempMin.toFixed(1)
    },
    convertionTemperatureMax(){
      let tempMax = this.temperature.Max - 273.15
      return tempMax.toFixed(1)
    },
    convertionDate(){
      let timestamp = this.date
      let date = new Date(timestamp * 1000)
      let country = this.country
      return moment(date).local(country).format(" Do MMMM  YYYY");
    }
  },
  methods:{
    research(){
      axios
      .get("https://api.openweathermap.org/data/2.5/weather?q="+this.myResearch+"&lang=fr&appid=c28547e399058a700d3e7dda78b94d30")
      .then((info) => {
        console.log(info.data)
        this.date = info.data.dt
        this.city = info.data.name
        this.country = info.data.sys.country
        this.long = info.data.coord.lon
        this.lat = info.data.coord.lat
        this.icone = "http://openweathermap.org/img/wn/"+info.data.weather.[0].icon+"@2x.png"
        this.weather = info.data.weather.[0].main
        this.temperature.Reel = info.data.main.temp
        this.temperature.Ressentie = info.data.main.feels_like
        this.temperature.Min = info.data.main.temp_min
        this.temperature.Max = info.data.main.temp_max
      })
    },
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  height: 100px;
  width:100vw;
}

header .search{
  margin: 30px;
}

header .search input{
  border-radius: 5px;
  padding:10px;
}

header .search #btnSearch{
  color: white;
  background-color: cornflowerblue;
  border: solid 2px white;
  border-radius: 5px;
  padding:10px;
  margin-left: 10px;
}

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

h1 {
  color: cornflowerblue;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: cornflowerblue;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

img{
  width:50%;
  height: auto;
}

p{
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}

.localisation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lat{
  margin-left:30px;
}

.meteo{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  width:90%;
}

.tempReel{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:300px;
  margin-bottom: 50px;
}

.autresPrecisions{
  display:flex;
  flex-direction: column;
  width:300px;
}

.temperature{
  margin-left:20px;
}
</style>
